nav {
  background-color: #370a98;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
h3 {
  font-size: 24px;
}
a {
  color: white;
  font-family: "Ubuntu Condensed";
  text-decoration: none;
  margin: 10px;
}
