<!-- <div class="container">
  <div
    *ngFor="let event of eventList; index as i"
    class="card"
    (click)="showMore(i)"
  >
    <img src="{{ event.images[1].url }}" alt="pic" />
    <p class="name">{{ event?.name }}</p>
    <div class="infoDiv" *ngIf="showIndex === i">
      <p *ngIf="event.info">{{ event.info }}</p>
      <p *ngIf="!event.info">No Information Available</p>
    </div>
    <button (click)="addToFavorites(event)" class="love">
      <i class="fas fa-bookmark"></i>
    </button>
  </div>
</div> -->
<div class="wrapper">
  <section class="container" *ngFor="let event of eventList; index as i">
    <div class="card" [ngClass]="{ flipped: event.isClicked }">
      <div class="front" (click)="showDetails(event)">
        <img src="{{ event.images[1].url }}" alt="pic" />
        <button>More Deets</button>
      </div>
      <div class="back">2</div>
    </div>
  </section>
</div>
