main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
}
h2 {
  font-family: "Merriweather Sans";
  color: #fb9361;
}
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  width: 50%;
  border-radius: 20px;
  align-items: left;
  padding: 10px;
  background-color: #fdca1a;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  font-family: "Ubuntu Condensed";
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.7);
}

input {
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  font-family: "Ubuntu Condensed";
  font-size: small;
}

.search {
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  color: white;
  font-size: 16px;
  background-color: darkslategrey;
}
