main {
  background-image: url("/assets/concert.png");
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
h2 {
  justify-content: center;
  font-family: "Merriweather Sans";
  color: black;
  font-size: 40px;
}
.form-container {
  flex-direction: row;
  justify-content: center;
  box-shadow: black;
  width: 75%;
  padding: 5px;
  background-color: white;
}

form {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  font-family: "Ubuntu Condensed";
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.7);
}

input {
  padding: 5px;
  border-radius: 2px;
  margin: 5px;
  font-family: "Ubuntu Condensed";
  font-size: 14px;
}

.search {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  color: white;
  font-size: 16px;
  background-color: black;
}
